.categorySection {
  max-width: 343px;
  margin: 0 auto;
  margin-bottom: 64px;
}

.buttonBack {
  color: var(--black);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: flex-start;
  gap: 6px;
}

.categoryInfoWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin: 64px auto 32px;
}
@media screen and (min-width: 768px) {
  .categorySection {
    max-width: 704px;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .categorySection {
    max-width: 1280px;
    margin-bottom: 120px;
  }
}
