.pagination-container {
  --max-visible-buttons: 3;
  display: flex;
  justify-content: center;
  gap: 6px;
  
  color: var(--black-light);
  user-select: none;
}

@media only screen and (min-width: 768px) {
  .pagination-container {
    --max-visible-buttons: 5;
  }
}

@media only screen and (min-width: 1440px) {
  .pagination-container {
    --max-visible-buttons: 10;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 40px;
  height: 40px;
  
  border: 1px solid transparent;
  border-radius: 100%;

  line-height: 1.43;
  
  background-color: transparent;
  color: inherit;
  
  opacity: 1;
  cursor: pointer;
  transition:
    opacity var(--transition-fast),
    background-color var(--transition-fast);
}

.btn:hover {
  background-color: var(--almost-white);
}

.active {
  border-color: var(--black);
}

.disabled {
  opacity: 0;
  pointer-events: none;
}
