.wrapper {
  margin-bottom: 64px;
}

.infoSection {
  margin-bottom: 34px;
  color: var(--grey);
}

.title {
  margin-bottom: 20px;

  font-size: 18px;
  font-weight: 800;
  line-height: 1.333;
  letter-spacing: -0.02em;

  color: var(--black);
  text-transform: uppercase;
}
.thumb {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  max-height: 38px;
  border-radius: 20px;
  border: 1px solid var(--grey);
  color: var(--grey);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.296;
  letter-spacing: -0.02em;
}
.description {
  margin-bottom: 20px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: -0.02em;
}

.btn {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 16px 0 0;
  border-radius: 32px;
  border: none;
  background-color: transparent;
  height: 34px;
  min-width: 145px;
  text-transform: none;
}

.btn:hover,
.btn:focus,
.btn:focus-visible {
  box-shadow:
    -2.179px -2.179px 6.537px 0px #fff,
    2.179px 2.179px 6.537px 0px rgba(62, 62, 64, 0.4);
}

.btnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--grey);
  overflow: hidden;
}
.btnThumb {
  color: var(--grey);
  text-align: start;
}
.text {
  display: block;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.02em;
}
.accentText {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.43;
  letter-spacing: -0.02em;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    margin-bottom: 100px;
  }
  .infoSection {
    margin-bottom: 40px;
    color: var(--black-light);
  }

  .title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: -0.02em;
  }

  .description {
    font-size: 16px;
    letter-spacing: -0.02em;
    color: var(--black-light);
  }

  .btn {
    height: 50px;
  }

  .btnWrapper {
    width: 50px;
    height: 50px;
  }

  .text {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: -0.02em;
  }

  .accentText {
    color: var(--black-light);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
  }
}

@media only screen and (min-width: 1440px) {
  .wrapper {
    display: flex;
    gap: 80px;
    margin-bottom: 120px;
  }
}
