.wrapper {
  margin-bottom: 32px;
}

.infoSection {
  color: var(--grey);
  margin-bottom: 34px;
}

.title {
  margin-bottom: 20px;

  font-size: 18px;
  font-weight: 800;
  line-height: 1.333;
  letter-spacing: -0.36px;

  color: var(--black);
  text-transform: uppercase;
}
.thumb {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  max-height: 38px;
  border-radius: 20px;
  border: 1px solid var(--grey);
  color: var(--grey);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.296;
  letter-spacing: -0.28px;
}
.description {
  margin-bottom: 20px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.429;
  letter-spacing: -0.28px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 16px 0 0;
  border-radius: 32px;
  border: none;
  background-color: transparent;
  height: 34px;
  text-transform: none;
}

.btn:hover .accentText,
.btn:focus .accentText,
.btn:focus-visible .accentText {
  color: var(--grey);
}

.btnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--grey);
  overflow: hidden;
}
.btnThumb {
  color: var(--grey);
  text-align: start;
}
.text {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.24px;
}
.accentText {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.429;
  letter-spacing: -0.28px;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    padding-bottom: 50px;
  }
  .infoSection {
    padding: 20px 0;
    color: var(--black-light);
  }

  .title {
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: -0.48px;
  }

  .description {
    font-size: 16px;
    letter-spacing: -0.32px;
    color: var(--black-light);
  }

  .btn {
    height: 50px;
  }

  .btnWrapper {
    width: 50px;
    height: 50px;
  }

  .text {
    font-size: 14px;
    line-height: 1.429;
    letter-spacing: -0.28px;
  }

  .accentText {
    color: var(--black-light);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.32px;
  }
}

@media only screen and (min-width: 1440x) {
  .wrapper {
    display: flex;
    gap: 80px;
    padding: 40px 0 60px;
  }
  .infoSection {
    padding-top: 0;
  }
}
