.tabsContainer {
  width: 100%;
}
.tabsContainerButton {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-bottom: 14px;
  margin-bottom: 32px;
}
.tabsContainerButton::-webkit-scrollbar {
  display: none;
}
.tabsList {
  display: inline-flex;
  gap: 20px;
}
.tabItem {
  font-size: 18px;
  color: var(--grey);
  cursor: pointer;
  transition: color 0.3s ease;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
}

.tabItemActive {
  color: var(--black);
  font-weight: bold;
  position: relative;
}
.tabItemActive::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  z-index: 999;
  width: 90%;
  height: 2px;
  background-color: var(--black);
}

.tabItem:hover {
  color: var(--black);
}

.listReceipes {
  margin-bottom: 30px;
}
