.hero {
  padding: 0 8px;
  color: var(--white);

  @media screen and (min-width: 768px) {
    padding: 0 16px;
  }
  @media screen and (min-width: 1440px) {
    padding: 0 20px;
  }
}

.heroContent {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 140px;
  padding-bottom: 100px;
  background-color: var(--black);
  border-radius: 0px 0px 20px 20px;
  @media screen and (min-width: 768px) {
    padding-top: 150px;
    padding-bottom: 90px;
    border-radius: 0px 0px 30px 30px;
  }
  @media screen and (min-width: 1440px) {
    padding-top: 90px;
    padding-bottom: 80px;
  }
}

.heroTitle {
  width: 327px;

  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px; /* 100% */
  letter-spacing: -0.8px;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    width: 678px;

    font-size: 70px;
    line-height: 70px; /* 100% */
    letter-spacing: -1.4px;
  }
  @media screen and (min-width: 1440px) {
    width: 875px;

    font-size: 90px;
    line-height: 90px; /* 100% */
    letter-spacing: -1.8px;
  }
}

.heroDescription {
  width: 326px;
  margin-top: 20px;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.28px;

  @media screen and (min-width: 768px) {
    width: 577px;
    margin-top: 40px;

    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 16px;
    line-height: 24px; /* 150% */
  }
}

.addRecipeBtn {
  margin-top: 20px;
  background-color: transparent;
  cursor: pointer;

  display: inline-flex;
  padding: 12px 24px;
  align-items: flex-start;
  gap: 10px;

  border-radius: 30px;
  border: 1px solid var(--white);
  color: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.28px;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    margin-top: 40px;

    padding: 16px 32px;
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
  }
}

.heroImages {
  margin-top: 40px;

  width: 311px;

  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    width: 678px;

    font-size: 70px;
    line-height: 70px; /* 100% */
    letter-spacing: -1.4px;
  }
  @media screen and (min-width: 1440px) {
    width: 875px;

    font-size: 90px;
    line-height: 90px; /* 100% */
    letter-spacing: -1.8px;
  }
}

.mainDish,
.sideDish {
  max-width: 100%;
  height: auto;
  object-fit: cover; /* Ensures the image maintains its aspect ratio */
  border-radius: 15px;
}
