.section {
  padding-top: 16px;
  @media screen and (min-width: 768px) {
    padding-top: 20px;
  }
}

.title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.333;
  letter-spacing: -0.36px;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.4px;
  }
}

.list {
  margin-bottom: 32px;
  color: var(--grey);

  font-size: 14px;
  font-weight: 500;
  line-height: 1.429;
  letter-spacing: -0.28px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    color: var(--black-light);

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.32px;
  }
}

.item:not(:last-child) {
  margin-bottom: 20px;
}

.btn {
  padding: 14px 20px;
  border-radius: 30px;
  border: 1px solid var(--grey);

  color: var(--grey);
  line-height: 1.429;
  letter-spacing: -0.28px;

  @media screen and (min-width: 768px) {
    padding: 16px 32px;
    line-height: 1.5;
    letter-spacing: -0.32px;
  }
}
