.section {
  padding: 40px 0 32px;
}

.errorWrapper {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .section {
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 1440px) {
  .section {
    padding-bottom: 60px;
  }
}
