.user {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  letter-spacing: -0.02em;

  background-color: var(--black-light);

  border-radius: 30px;
  padding-right: 14px;
}

.avatar {
  position: relative;
  overflow: hidden;
  border-radius: 50%;

  width: 32px;
  height: 32px;

  cursor: pointer;
}

.username {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 4px;

  color: var(--white);
}

.profile {
  position: relative;

  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 8px;
}

.links {
  position: absolute;

  min-width: 148px;

  border-radius: 15px;
  border: 1px solid var(--white);

  top: 40px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 6px;

  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;

  cursor: pointer;

  background-color: var(--black-light);
  color: var(--white);
}

.user-icon {
  stroke: var(--white);
  transition: transform 0.2s ease-in-out;
}

.user-icon.down {
  transform: rotate(180deg);
}

.signout-icon {
  stroke: currentColor;
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 2px;

  line-height: 1.5;

  background: none !important;
  background: none !important;
  border: none;
  padding: 0 !important;
  padding: 0 !important;
  color: var(--white);
  cursor: pointer;
  text-transform: uppercase;
}

.containerSign {
  background-color: var(--white);
  border-radius: 30px;
}

.button.buttonSignup {
  background-color: var(--black-light);
  color: var(--white);
  border-color: var(--grey);
  height: 46px;
  height: 46px;
}

.button.buttonSignup:hover {
  background-color: var(--white);
  color: var(--black-light);
  border-color: var(--grey);
}

.button.buttonSignin {
  border-color: var(--white);
  margin-right: -24px;
  height: 46px;
}

@media only screen and (min-width: 768px) {
  .avatar {
    width: 50px;
    height: 50px;
  }

  .links {
    top: 60px;
  }
}
