.section {
  padding: 8px 8px 0;

  --theme-border: rgba(255, 255, 255, 0.2);
  --theme-black-light: var(--black-light);
  --theme-white: var(--white);
  --theme-black: var(--black);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 30px 30px 0 0;
  letter-spacing: -0.02em;
  line-height: 18px;

  padding: 16px;

  background-color: var(--theme-black);
  color: var(--theme-white);
}

.nav {
  display: flex;
  font-size: 12px;
  font-weight: 700;
}

.nav.main {
  display: none;
}

.light {
  --theme-border: var(--grey);
  --theme-black-light: var(--white);
  --theme-white: var(--black-light);
  --theme-black: var(--white);
}

.nav a {
  text-decoration: none;
  color: var(--theme-white);
  padding: 14px;
  text-transform: uppercase;
}

.active {
  border: 1px solid var(--theme-border);
  border-radius: 30px;
}

.menu {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 28px;
  height: 28px;
}

.menu-icon {
  stroke: var(--theme-white);
}

.right {
  display: flex;
  gap: 4px;
  align-items: center;
}

.side-menu {
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: var(--theme-black);
  z-index: 100000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  transform: translateX(100%);

  transition: transform 0.3s ease-in-out;
}

.side-menu.open {
  display: flex;
  transform: translateX(0);
}

.close {
  position: absolute;
  right: 24px;
  top: 24px;
}

@media only screen and (min-width: 768px) {
  .menu {
    display: none;
  }

  .nav {
    gap: 16px;
  }

  .nav.main {
    display: flex;
  }

  .section {
    padding: 16px 16px 0;
  }

  .header {
    padding: 20px 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .nav {
    font-size: 18px;
  }

  .section {
    padding: 20px 20px 0;
  }

  .header {
    padding: 20px 60px;
  }
}
