.footer {
  margin: 40px 0 16px;
}

@media only screen and (min-width: 768px) {
  .footer {
    margin: 50px 0 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .footer {
    margin: 60px 0 72px;
  }
}

.footerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px 40px;
  max-width: 1440px;

  margin: 0 auto;

  @media screen and (min-width: 768px) {
    padding: 0 32px 40px;
  }

  @media screen and (min-width: 1440px) {
    padding: 0 80px 40px;
  }
}

.networkLinks {
  display: flex;
  gap: 16px;
}

.horizontal_line {
  border: none;
  margin: 0;
  padding: 0;
  height: 1px;
  color: var(--grey);
  background-color: var(--grey);
}

.copyright {
  display: flex;
  margin: auto;
  flex-shrink: 0;
  color: var(--black-light);
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: -0.02em;
  padding-top: 40px;
}

@media only screen and (min-width: 768px) {
  .copyright {
    font-size: 16px;
    line-height: 1.5;
  }
}

.networkLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 100px;
  border: 1px solid var(--grey);
}

.networkLink:hover,
.networkLink:focus {
  transform: scale(1.1);
  color: var(--white);
  background-color: var(--black);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .networkLink {
    width: 40px;
    height: 40px;
  }
}

.iconImg {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
