.swiper_custom_styles {
  --swiper-pagination-color: var(--black);
  --swiper-pagination-bullet-inactive-color: var(--grey);
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-size: 16px;
  --swiper-pagination-bullet-horizontal-gap: 12px;
}

.testimonials {
  text-align: center;
  padding: 2rem;
}

.subheading {
  font-family: Mulish;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: center;
}

.heading {
  font-family: Mulish;
  font-size: 28px;
  font-weight: 800;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
  margin-top: 16px;
}

.slide {
  padding: 3rem;
}

.text {
  font-family: Mulish;
  font-size: 18px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.02em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.author {
  font-weight: bold;
  margin-top: 1rem;
  font-family: Mulish;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
  margin-top: 64px;
}

.testimonialContainer {
  position: relative;
}

.quotesImage {
  margin-left: 8px;
  position: absolute;
  left: 9%;
  float: left;
  margin-right: 20px;
  width: 59px;
  height: 48px;
}

@media screen and (max-width: 767px) {
  .swiper_custom_styles {
    --swiper-pagination-color: var(--black);
    --swiper-pagination-bullet-inactive-color: var(--grey);
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-size: 16px;
    --swiper-pagination-bullet-horizontal-gap: 8px;
  }
  .quotesImage {
  margin-left: 8px;
  position: absolute;
  left: 9%;
  float: left;
  margin-right: 20px;
  object-fit: contain;
  
}
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .quotesImage {
    margin-top: -12px;
    margin-left: 40px;
  }
  .testimonials {
    text-align: center;
    padding: 2rem;
  }
}

@media screen and (min-width: 1158px) {
  .text {
    font-size: 24px;
  }
  .subheading {
    font-size: 16px;
    line-height: 1.5;
  }
  .heading {
    font-size: 40px;
    line-height: 1.1;
  }
  .quotesImage {
  margin-left: 8px;
  position: absolute;
  left: 9%;
  float: left;
  margin-right: 20px;
  /* width: 59px; */
  /* height: 48px; */
}
}
