.testimonials {
  text-align: center;
  padding: 2rem;
}

.subheading {
  font-family: Mulish;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: center;
}

.heading {
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: center;
}

.slide {
  padding: 3rem;
}

.text {
  font-family: Mulish;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.02em;
  text-align: center;
}

.author {
  font-weight: bold;
  margin-top: 1rem;
  font-family: Mulish;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.testimonialContainer {
  position: relative;
}

.quotesImage {
  margin-top: 12px;
  margin-left: 8px;
  width: 59px;
  height: 48px;
}

@media only screen and (min-width: 768px) {
  .quotesImage {
    margin-top: -12px;
    margin-left: 40px;
    width: 59px;
    height: 48px;
  }
}

@media only screen and (min-width: 1024px) {
  .quotesImage {
    margin-top: 40px;
    margin-left: 40px;
    width: 59px;
    height: 48px;
  }
}
