.recipeCard {
  width: 343px;
}

.headerCard {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.recipeImage {
  width: 100%;
  height: 230px;
  border-radius: 20px;
  margin-bottom: 16px;
  object-fit: cover;
}

.textWrap {
  margin-bottom: 8px;
  height: 72px;
}

.recipeDescription {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 1.6;
  white-space: normal;
}

.avatarWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.iconList {
  list-style: none;
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.iconWrapper {
  position: relative;
  width: 36px;
  height: 36px;
  background-color: transparent;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .recipeDescription {
    font-size: 16px;
    line-height: 1.5;
  }

  .recipeImage {
    height: 275px;
  }

  .avatar {
    width: 40px;
    height: 40px;
  }
  .iconWrapper {
    width: 42px;
    height: 42px;
  }
}
@media screen and (min-width: 1440px) {
  .recipeCard {
    width: 290px;
  }
}
