.card {
  width: 343px;

  @media screen and (min-width: 768px) {
    width: 342px;
  }
  @media screen and (min-width: 1440px) {
    width: 290px;
  }
}
.cardContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.headerCard {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;

  margin-bottom: 8px;

  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.333;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.recipeImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 230px;
  border-radius: 20px;
  margin-bottom: 16px;
  background-color: var(--grey);
  overflow: hidden;
  object-fit: cover;
  @media screen and (min-width: 768px) {
    height: 275px;
    border-radius: 30px;
  }
}

.image {
  height: 100%;
}

.recipeDescription {
  font-size: 14px;
  line-height: 1.43;
  height: 2.8em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: wrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.avatarIconsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.iconList {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.iconWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 100px;
  border: 1px solid var(--grey);
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.iconWrapper:hover,
.iconWrapper:focus {
  background-color: var(--black);
}

@media screen and (min-width: 768px) {
  .iconWrapper {
    width: 42px;
    height: 42px;
  }
}

@media screen and (min-width: 768px) {
  .headerCard {
    font-size: 20px;
    line-height: 1.2;
  }
}
.active {
  fill: var(--black);
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(calc(-50% - 22px), calc(-50% + 3px));
}

.btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 8px 0 0;
  border-radius: 32px;
  border: none;
  background-color: transparent;
  height: 32px;
  min-width: 145px;
  text-transform: none;
}

.btn:hover,
.btn:focus,
.btn:focus-visible {
  box-shadow:
    -2.179px -2.179px 6.537px 0px #fff,
    2.179px 2.179px 6.537px 0px rgba(62, 62, 64, 0.4);
}

.btnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--grey);
  overflow: hidden;
}
.btnThumb {
  color: var(--grey);
  text-align: start;
}
.text {
  display: block;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.02em;
}
.accentText {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.43;
  letter-spacing: -0.02em;
}

@media only screen and (min-width: 768px) {
  .btn {
    height: 40px;
  }

  .btnWrapper {
    width: 40px;
    height: 40px;
  }

  .text {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: -0.02em;
  }

  .accentText {
    color: var(--black-light);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.32px;
  }
}

.iconArrow,
.iconHeart {
  stroke: var(--black);
  width: 18px;
  height: 18px;
}

.iconWrapper:hover .iconArrow,
.iconWrapper:focus .iconArrow,
.iconWrapper:hover .iconHeart,
.iconWrapper:focus .iconHeart {
  stroke: var(--white);
}
.iconHeart {
  fill: transparent;
}

.iconHeartAccent {
  fill: var(--black);
}

.iconWrapper:hover .iconHeartAccent,
.iconWrapper:focus .iconHeartAccent {
  fill: var(--white);
  stroke: var(--white);
}
