@import url('css/reset.css');
@import 'node_modules/modern-normalize/modern-normalize.css';
@import url('css/vars.css');

:root {
  font-family: Mulish, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--black);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

ul,
li,
ol {
  padding: 0;
  margin: 0;
}

li,
ol {
  list-style: none;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media only screen and (min-width: 370px) {
  .container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1280px;
  }
}
