@import url('css/reset.css');
@import '/node_modules/modern-normalize/modern-normalize.css';
@import url('css/vars.css');

:root {
  font-family: Mulish, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--black);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-size: 14px;
  line-height: 1.43;
  font-weight: 500;
}

ul,
li,
ol {
  padding: 0;
  margin: 0;
}

li,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  -webkit-clip-path: inset(100%);
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
.form-label {
  font-weight: 800;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.error-form {
  color: red;
  font-size: 12px;
}
.css-b62m3t-container .css-13cymwt-control,
.css-b62m3t-container .css-t3ipsp-control {
  border: 1px solid var(--grey);
  border-radius: 30px;
  padding: 0 14px;
  height: 48px;
  box-shadow: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.02em;
  color: var(--grey);
}
.css-b62m3t-container .css-1jqq78o-placeholder {
  color: var(--grey);
}

.css-1u9des2-indicatorSeparator {
  display: none;
}
.css-1xc3v61-indicatorContainer svg {
  color: var(--black);
}
.css-b62m3t-container .css-1nmdiq5-menu {
  border-radius: 15px;
  padding: 16px 18px;
  height: 286px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.02em;
  color: var(--black);
}

@media only screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  body {
    font-size: 16px;
    line-height: 1.5;
  }
  .form-label {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 16px;
  }
}
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1280px;
  }
}
