.title {
  font-size: 28px;
  font-weight: 800;
  line-height: 1.142;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.titleLogout {
  font-size: 28px;
  font-weight: 800;
  line-height: 1.142;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

.logoutText {
  color: var(--grey);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.429;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 32px;
}

.bottomText {
  color: var(--grey);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
}

.nameForm {
  color: var(--black);
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .bottomText {
    font-size: 14px;
  }

  .titleLogout {
    font-size: 32px;
  }

  .logoutText {
    font-size: 14px;
    margin-bottom: 40px;
  }
}
