.recipesSectionWrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    gap: 40px;
  }

  @media screen and (min-width: 1440px) {
  }
}

.recipesListWrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 32px 20px;
  margin-bottom: 32px;
}

.recipesListContent {
  width: 343px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    width: 704px;
  }
  @media screen and (min-width: 1440px) {
    width: 910px;
  }
}

.noRecipesPlaceholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.43;
  letter-spacing: -0.02em;
  color: var(--grey);
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .recipesListWrap {
    gap: 40px 20px;
  }
}
