.section {
  padding: 16px 0;
  @media screen and (min-width: 768px) {
    padding: 20px 0;
  }
}

.title {
  margin-bottom: 20px;

  font-size: 18px;
  font-weight: 800;
  line-height: 1.333;
  letter-spacing: -0.36px;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.4px;
  }
}

.list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    gap: 20px;
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 152px;
  @media screen and (min-width: 768px) {
    gap: 14px;
    max-width: 180px;
  }
}
.imgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 75px;
  padding: 10px;
  height: 75px;
  border-radius: 15px;
  border: 1px solid var(--grey);
  font-size: 14px;

  @media screen and (min-width: 768px) {
    padding: 15px;
    width: 90px;
    height: 90px;
  }
}
.img {
  border-radius: 4px;
}

.textWrapper {
  color: var(--grey);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.429;
  letter-spacing: -0.28px;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.32px;
  }
}
.accentText {
  color: var(--black);
}
